:root {
	--font: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.light {
	--accent: rgb(147, 122, 206);
	--accent-hover: rgb(124, 100, 180);
	--accent-success: #1dc76c;
	--surface: #f0ecf2;
	--bg: #f8f6fa;
	--secondary-background: #31363f;
	--field: #dadee6;
	--surface-active: rgb(41, 37, 52);
	--primary-text: #131313;
	--contrast-text: #29282b;
	--secondary-text: gray;
	--error-text: #d85b5b;
}

.dark {
	--accent: rgb(147, 122, 206);
	--accent-hover: rgb(124, 100, 180);
	--accent-success: #1dc76c;
	--surface: #1b1a1e;
	--bg: #131314;
	--secondary-background: #252629;
	--field: #31353e;
	--surface-active: rgb(108, 105, 116);
	--primary-text: #f1eef4;
	--contrast-text: #e4dfee;
	--secondary-text: gray;
	--error-text: #d85b5b;
}

:root {
	--border-radius: 0.25rem;
	--white: #ffffff;
	--black: #000000;
	--font: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
	font-family: var(--font);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 5px;
	cursor: pointer;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	height: 60px;
	background-color: var(--secondary-background) !important;
	border-radius: 2px;
}

::-webkit-resizer {
	background-repeat: no-repeat;
	width: 5px;
	height: 0px;
}

::-webkit-scrollbar {
	width: 7px;
	height: 5px;
	border-radius: 2px;
}
